body {
  font-family: "Montserrat";
  text-align:center;
}

#title {
  text-align: left;
}

.colored-section-top{
background-color: #ddf3f5;
border-bottom-right-radius:25%;
border-bottom-left-radius:25%;
}

.colored-section-bottom{
background-color: #ddf3f5;
border-top-right-radius:25%;
border-top-left-radius: 25%;
}



h1{
  font-weight: 700;
}
h5{
	text-align:center;
	margin-top:5%;
}
h6 {
  color:red;
  font-weight: bold;
  }

h2 {
 font-weight: bold;
}

p {
  margin-top: 3rem;
  color:#8f8f8f;
  padding-bottom:5%;
}


/* Containers */
.container-top{
  padding: 3% 15% 7%;
}

.container-mid{
    padding: 3% 15% 7%;
	margin-top:-5%;
}


.logo-header{
  padding-bottom: 30%;
}

.call-us {
  background-color: #ffdecf;
  text-align: center;
  margin-bottom:5%;

}


.form-control {
	font-family:"FontAwesome";
	width:85%;
	height: 70px;
}

.btn-cta {
	margin-left:-30px;
}

/* Custom Buttons */
.custom-btn{
  background: #ddf3f5;
  color: white;
  border: 1px solid #ffdecf;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.custom-btn-web{
  background: #ff7c3f;
  color: white;
  border: 1px solid  #ff7c3f;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.custom-btn-money{
  background: #2ebf6d;
  color: white;
  border: 1px solid #2ebf6d;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.custom-btn-mobile{
  background: #507afa;
  color: white;
  border: 1px solid #507afa;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.custom-btn-accurate{
  background: #f25c7f;
  color: white;
  border: 1px solid #f25c7f;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}


.container-fluid {
  padding:5%;
}

.press-img {
	padding:5%;
}

.call-us1 {
  background-color: #ffdecf;
 }


 .pricing {
	 color:blue;
 }


 .card:hover {
	background-color: #ddf3f5;
 }

 .featured-img {
	 padding : 5%;
	 text-align: left;
 }

 .section-title-icons{
	 padding-bottom :5%;
 }

.carousel-item {
    border-top: 5px solid #1b8bf9;

}

.web{
border-color:#ff7c3f;
}
.money{
border-color: #2ebf6d;
}

.mobile {
border-color:#507afa;
}

.accurate {
border-color:#f25c7f;
}


.carousel{
  background: #ffff;
  box-shadow: -1px 2px 6px 8px #e4e3e3;
  	height:120%;
}


#pricing-section{
	margin-bottom:5%;
}

.pricing-card{
	margin-left:15%;
	margin-bottom:5%;
}


.press-img {
	margin-top:-5%;
}

.card {
	width:60%;
	height:100%;
   background: #ffff;
   box-shadow: -1px 2px 6px 8px #e4e3e3;
}

.call-us-bottom {
  font-weight: bold;
  background-color: #ffdecf;
  color: red;
}

.call-us-bottom-con{
  margin-top: 30px;
}
.colsecbottom{
  margin-top: 20px;
}

/* Mobil Cihazlar icin uygunluk kodu*/
@media (max-width:991px) {
  #title .container-fluid{
    text-align: center;
  }
}


.social-media {
  margin-left: 20px;
}

.social-media-icon {
  margin-left: 300px;
  color:#a4b494;
}
.copyright {
color:#a4b494;
}

.color {
  color: blue;
}
